:root {
  --fuente-secundaria: "Roboto Mono", monospace;
  --fuente-principal: "Inter", sans-serif
}

body {
  background: linear-gradient(135deg, #2f2f2f, #3c3c3c, #4a4a4a);
  color: white;
  overflow-x: hidden;
}

/* NAV */

.container_nav {
  display: flex;
  background-color: rgb(27, 27, 27);
  width: 100%;
  justify-content: space-around
}

.logo {
  width: 3rem;
  height: 2rem;;
  padding: 1.5rem;
  object-fit: contain;
  transition: all 0.3s ease;
}
.container_nav i{
  display:none;
  font-size: 2rem;
  padding: 2rem;
  
}
ul {
  list-style-type: none;
  display: flex;

}

ul li {
  padding: 1rem 2rem;
}

.nav_lista li:hover {
  color: aqua;
  cursor: pointer;
}

.logo:hover {
  width: 3.7rem;
  height: 2.7rem;
  padding: 1rem;

}

/* SECCION UNO PRESENTACION */

.container_presentacion {
  display: flex;
  padding: 5.5rem;
  justify-content: center;
  width: 65rem;
  margin: auto;
  box-shadow:  12px 12px 1px rgba(15, 15, 15, 0.466);
  
}

.container_textos_presentacion {
  margin-top: 4rem;
  flex-direction: column;
  margin-right: 4rem;
}

.subtitulo_presentacion {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.3rem;
  font-size: 0.6rem;
}

.titulo {
  font-size: clamp(2rem, 2.5vw, 3.5rem);
  font-family: "Inter", sans-serif;
}

.parrafo {
  line-height: 1.5rem;
  font-family: "Inter", sans-serif;

}

.color {
  color: rgba(253, 38, 74, 0.856);
}

.container_imagen {
  height: 38.3rem;
  padding-left: 10rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.imagen {
  height: auto;
}

.iconos {
  font-size: 2rem;
}
.iconos_texto{
  margin-top: 10rem;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    flex-direction: column;
}

.fb,
.tw,
.lin {

  border-radius: 50%;

}

.fb:hover {
  color: #4267B2;
  background: white;
  border-radius: 50%;
}

.tw:hover {
  color: #1DA1F2;
  background: white;
}

.lin:hover {
  color: #0e76a8;
  background: white;
  border-radius: 20%;
}


/* SEGUNDA SECCION !! ! ! ! */
.tarjetas_division {
  font-family: var(--fuente-secundaria);
  letter-spacing: 0.2rem;
  margin-right: -9rem;

}

.tarjetas_presentacion {
  font-family: var(--fuente-principal);
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
  padding-top: 1rem;
  border-bottom: 0.2rem solid #dad1d2d5;

}

.textos {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}

/* TARJETAS !!!! */

.tarjetas_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 2rem;
  column-gap: 0;
  margin-left: 2rem;
  padding: 2rem;

}

.tarjetas {
  background: rgb(27, 27, 27);
  padding: 2.5rem 2rem;
  width: 20rem;
  height: 15rem;
  font-family: var(--fuente-principal);
  border-radius: 1.5rem;
  border: rgb(15, 15, 15);
  box-shadow: 12px 12px 2px 1px rgba(22, 22, 22, 0.2);
  text-align: center;
  margin-left: 2.2rem;

}

.tj {
  color: rgba(253, 38, 74, 0.856);
  font-size: 2rem;
  padding-top: 2rem;
}

.tarjetas_titulo {
  font-size: 1.5rem;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: linear;
}

.tarjetas_descripcion {
  line-height: 2rem;
}


/* ULTIMA SECCION!!*/


.app_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 2rem;
  column-gap: 2rem;
  margin-left: 2rem;
  padding: 2rem;


}

.app {
  padding: 3rem;
  background: rgb(27, 27, 27);
  border-radius: 3%;
  width: 50%;
  text-align: center;
  margin-left: 2rem;
  box-shadow: 12px 12px 2px 1px rgba(22, 22, 22, 0.2);
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}




.textos_portafolio {
  font-family: var(--fuente-principal);
  text-align: center;
  margin: 3.5rem 0;


}

.app_subtitulo {
  font-size: 0.8rem;
  font-family: var(--fuente-secundaria);
  line-height: 1.3rem;


}

div h2 {
  text-decoration-color: whitesmoke;
  text-decoration-line: underline;
  text-decoration-style: solid;
  font-size: 2.5rem;

}

.texto1 {
  font-family: var(--fuente-secundaria);
  color: rgba(253, 38, 74, 0.856);
  font-weight: 800;

}

.app img {
  width: 14rem;
  height: 16rem;
  border-radius: 10%;
  margin-bottom: 1.5rem;
  object-fit: cover;
}

.app_titulo {
  text-decoration-color: whitesmoke;
  text-decoration-line: underline;
  text-decoration-style: solid;
  font-size: 1.2rem;
}

.app:hover {
  background: rgba(253, 38, 74, 0.637);
  cursor: pointer;
}

.tarjetas_titulo:hover {
  text-decoration-color: whitesmoke;
  text-decoration-line: underline;
  text-decoration-style: solid;
}




/* PC!!!! */
@media (max-width:1342px) {
.tarjetas_grid,
.app.grid{
  margin-left: 0;
}
.tarjetas{
  width: 70%;
}
}



/*
@media (min-width:800px) and (max-width:900px) {
    body {
        background: wheat;

        */
/*MOBILE*/

  

@media (max-width: 790px){
 .container_nav{
  justify-content: flex-start;
  flex-direction: row-reverse;
 }
  .container_nav i{
    display: flex;

  }
.nav_lista{
  display: none;
}

}
